@page "/"
@inject IJSRuntime JS

<PageTitle>Mapa</PageTitle>

<style>
    .full-map {
        height: 80vh;
        width: 80vw;
    }
</style>


<div id="map" class="full-map">
    <!--  -->
</div>


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("initMap");
        }
    }
}
